body {
  margin: 100;
  background-color: #A2E3E5;

  text-align: center;
  padding: 50px;

}
.box {

 

}

h1,
p {
  margin-bottom: 1rem;
  
}

input[type="text"] {
  text-align: center;
  margin: 1rem auto;
}

input[type="email"] {
  text-align: center;
  margin: 1rem auto;
}

input[type="number"] {
  text-align: center;
  margin: 1rem auto;
  width: 50%;
}

fieldset,
input {
  display: block;

  text-align: center;
  border: 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin: 1rem;

}

input[type="radio"] {

  margin: 0 1em 0 0;
  display: inline-block;

}

textarea {
  Display: block;
  width: 100%;
  margin: 1em auto;
  height: 100px; 

}

.dropdown {

color:blue; 


}

#recommend {
   margin: 1rem auto;
  display: block;
  color:blue; 
  width: unset 100%;
  

}

Input[type="checkbox"] {
  display: block;
  margin: 1em auto;

}

#position {

  color: red;

}


input[type="submit"] {
  display: block;
  width: 100%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: green;
  
  min-width: 300px;
}

#survey-form { 

}