* { 
    border: 1px red solid;
}

:root { 
--background-header-main: rgb(255, 255, 255);
--background-images-caption: White;
--background-text-caption-Radius: 15%;
--background-text-caption-padding: 10px;
}
/* For main image */
@media  (min-width:1000px) {.main-fruit { 
    margin: auto;
    width: 75% !important;
    max-height: 500px !important;
    padding-left: 160px !important;  
}}
    
/* @media (min-width:1000px) {.Head-Catagory {
  justify-content: center;
} } */

@media (min-width:1000px) {.section2 {
padding:20px !important;
grid-template-columns: repeat(2 ,1fr);
display: grid !important;

}}

/* @media  (max-width:699px) {.main-catagory {grid-template-columns: repeat(1 ,2fr);}
    
} */

@media (min-width:600px) { .upper-header {max-height: 5% !important;}
}


body { 
    font-family:font-family: 'Londrina Solid', cursive, Garamond, serif;
    height: 200vh;
    width: 100vw;
    margin: auto;
   overflow: scroll;
   
    

}
header { 

}

.title-name { font-size: 42px;
    font-family: 'Londrina Solid', cursive,  Garamond, serif;
    

}


.upper-header {
      width: 100%;

      gap: 5px;
      box-sizing: border-box;
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
      grid-template-areas: 
      "a a a"
      "b b B"
      "c c c"
      ; 
      top: 10px; 
      background-color: var(--background-header-main); 
      overflow: hidden;
    
    
}

.logo {
    grid-area: a;

}

.Searchbar { 
    grid-area: b;
    width: 100vw;
    background-color: white;
    border-radius: var(--background-text-caption-Radius);
    border: 2px black solid;

    
}

.Head-Catagory { 
    grid-area: c;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
    padding: 10px;
    gap: 5px;
    background-color: #8bcabe;
    border-radius: var(--background-text-caption-Radius);

    
}

.Head-Catagory-text { 
    background-color: var(--background-images-caption);
    border-radius: var(--background-text-caption-Radius);
    padding: var(--background-text-caption-padding);
}

.Main-Logo{
    max-width: 5%;
    position: relative;
}



.main-fruit { 
    box-sizing: content-box;
    width: 100%;
    object-fit: contain;
}
.section1 { 
    background-color: #ffcac8;
    margin-top: 20px;
}

.section2 { 
    display: grid;
    height: 200vh;
    background-color: var(--background-header-main);
   justify-content: center;
  
   



}

/* Fruit boxes */
.main-catagory { 
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    grid-auto-rows: 400px;
    grid-auto-flow: row;
    gap: 30px;
    background-color: #ffcac8;

    
    

}

.mainimage, .mainimage1, .mainimage2{ 
   width: 250px;
   border: 3px red solid;
   margin-top: 10px;
   overflow: hidden;
   
}

.mainimage1, .mainimage2, .mainimage3, .mainimage4, .mainimage5, .mainimage6, .mainimage7, .mainimage8 { 
    height: 150px;
    width: 200px;
    object-fit: cover;
    }

.li-catagory { 
    font-size: 20px;
    display: block;
    text-align: center;
    border: 3px black solid;
    padding-top:20px;
    border-radius: var(--background-text-caption-Radius);
    overflow: hidden;

}


.li-catagory { 
    background-color:  var(--background-images-caption);

}
.image1 { background:linear-gradient(#ed9302, #ffc100);
}

.image2 {background:linear-gradient(#b9e8de, #8bcabe);
    }

.image3 {background:linear-gradient(90deg, #ff6867, #ff817e);
}

.image4 {background:linear-gradient(90deg, #fccd89, #fac87b);
  
;}

.image5 {background:linear-gradient( #8193bf 20%,#b9c8ea 25%, #dae5f8 75%);
    ;}
    
 .image6 {background:linear-gradient( #f8abd0 0%, #f8abd0 50%,#e28bb3 50%,#e28bb3 50%);
        ;}
        

.social-icons { 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

footer { margin-top: 20px;}

