* { 
    border: 1px red solid;
}

:root { 
--background-header-main: rgb(255, 255, 255);
--background-images-caption: White;
--background-text-caption-Radius: 15%;
--background-text-caption-padding: 10px;
}

@media (min-width:600px) {.Head-Catagory {flex-direction:row !important; }
.main-catagory { 
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-evenly !important;
    object-position: center !important;
    gap: 20px;
    background-color: #ffcac8;
}

.section2 { max-width: 100% !important;}
}

body { 
    font-family: Garamond, serif;
   max-width: 100%;
    margin: auto;
   overflow: scroll;
    
}


.upper-header {
      max-width: 100%;
      gap: 5px;
      box-sizing: border-box;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: 
      "a a a"
      "b b b"
      "c c c"
      ; 
      top: 10px; 
      background-color: var(--background-header-main); 
      overflow: hidden;
    
    
}

.logo {
    grid-area: a;
    max-width: 100%;
    font-size: 42px;
    font-family: 'Londrina Solid', cursive,  Garamond, serif;
    text-align: center;

}

.Searchbar { 
    grid-area: b;
    max-width: 100%;
    background-color: white;
    border-radius: var(--background-text-caption-Radius);
    border: 2px black solid;
    text-align: center;
  

    
}

.Head-Catagory { 
    grid-area: c;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
    padding: 20px;
    gap: 5px;
    background-color: #8bcabe;
    border-radius: var(--background-text-caption-Radius);
    font-size: 18px;

    
}

.Head-Catagory-text { 
    background-color: var(--background-images-caption);
    border-radius: var(--background-text-caption-Radius);
    padding: var(--background-text-caption-padding);
    text-align: center;
    
}


.main-fruit { 
    box-sizing: content-box;
    max-width: 80%;
    margin-left: 15%;
    object-fit: contain;
}
.section1 { 
    background-color: #ffcac8;
    margin-top: 20px;
}

.section2 { 
    display: flex;
    flex-direction: column;
    background-color: var(--background-header-main);
    
  
   



}

/* Fruit boxes */
.main-catagory { 
    max-width: fit-content;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    grid-auto-rows: 400px;
    gap: 20px;
    background-color: #ffcac8;
    padding-right: 20px;

    
    

}

.mainimage, .mainimage1, .mainimage2{ 
   width: 100%;
   border: 3px red solid;
   margin-top: 10px;
   overflow: hidden;
  
   
}

.mainimage1, .mainimage2, .mainimage3, .mainimage4, .mainimage5, .mainimage6, .mainimage7, .mainimage8 { 
   
    width: 200px;
    /* object-fit: cover; */
    }

.li-catagory { 
    font-size: 20px;
    display: block;
    text-align: center;
    border: 3px black solid;
    border-radius: var(--background-text-caption-Radius);
    overflow: hidden;

}


.li-catagory { 
    background-color:  var(--background-images-caption);

}
.image1 { background:linear-gradient(#ed9302, #ffc100);
}

.image2 {background:linear-gradient(#b9e8de, #8bcabe);
    }

.image3 {background:linear-gradient(90deg, #ff6867, #ff817e);
}

.image4 {background:linear-gradient(90deg, #fccd89, #fac87b);
  
;}

.image5 {background:linear-gradient( #8193bf 20%,#b9c8ea 25%, #dae5f8 75%);
    ;}
    
 .image6 {background:linear-gradient( #f8abd0 0%, #f8abd0 50%,#e28bb3 50%,#e28bb3 50%);
        ;}
        

.social-icons { 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

footer { margin-top: 20px;
padding: 0 1rem;}

