/* * { 
    border: 1px black solid;
    
} */

:root { 
--background-header-main: rgba(226,68,68,1);
--background-text-box: #1e9ce0;
--background-gradient:  linear-gradient(90deg, rgba(250,91,90,1) 0%, rgba(226,68,68,1) 54%);
--background-gradient2: linear-gradient(90deg, rgba(245,116,116,1) 23%, rgba(182,36,36,1) 89%);
--text-color: White;

}

@media (min-width:1200px) {#video { 
    min-width: 1022px !important; 
    min-height: 575px !important;
   
}

#videocon::after{ 

    position: absolute;
    display:none;
    background-color: red; 
    width: 100%;
    height: 20vh;
 
  
   
   

}
} 


body { 
    font-family: Garamond, serif;
    margin:0;
    
    
}


#header-background {
      max-width: 100%;
      margin: auto;
      box-sizing: border-box;
        display: flex;
        flex-direction: column;
      background-image: url(images/Fruit-Background.png); 
      background-size: 100%;
      background-repeat: repeat;
      background-attachment: fixed;
     

}





#header{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 50px;
    font-family: 'Londrina Solid', cursive,  Garamond, serif;
    background: var(--background-gradient2);

    padding-right: 20px;
    color: var(--text-color); 
    -webkit-text-stroke-width: 2px; 
    -webkit-text-stroke-color: black; 
    box-sizing: content-box;
    width: 100%;
    position: fixed;
    z-index: 999;
    

}

#header-img{ 
    position: relative;
    left: 75px;
    color: black;
    max-width: 75px;
    max-height: 75px;
   
}


#nav-bar { 
    display: flex; 
    justify-content: center; 
    gap: 10px;
    position: fixed;
    background:var(--background-gradient2);
    margin-top:75px;
    width: 100%;
    z-index: 999;
    border-bottom: 1px black solid;
 
    
}

#nav-bar > ul { 
    padding: 2px;
    /* background-color: var(--background-text-box);  */
    font-size: 24px;


}
   
#nav-bar > ul > a { text-decoration: none;
    color: var(--text-color);
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: black; 
}



#form { 
   
    max-width: 100%;
    /* background-color: white;
    border-radius: var(--background-text-caption-Radius);
    border: 2px black solid; */
    background: var(--background-gradient); 
    color: var(--text-color);
    opacity: 95%;
    display: flex;
    justify-content: center;
    padding: 5px; 
    margin-top: 165px;

}

/* Adding linearGradient */

#email { 
    max-width: 150px;
    width: 100%;
    color: var(--text-color);
    text-align: center;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: black;  
    padding: 7px;   
    
    margin-right: 5px; 
}
#submit { 
    background-color: var(--background-text-box);
    padding: 7px; 

}


.s1h, .s2h, .s3h { 
    text-align: center;
    background-color: white;
    opacity: 90%;
    border: 2px black solid;

}

section>p { 
    background-color: white;
    padding: 10px;
    margin: auto;
    border: 2px black solid;
}


    .s1h::before{
    position: relative;
    display: block;
    content: ''; 
    margin-bottom: 10px;
    width: 50%;
    height: 1vh;
    background-color: var(--background-header-main);

    }
     .s1h::after{
        position: relative;
       display: block;
        content: ''; 
        margin-top: 5px;;
        left:50%;
        width: 50%;
        height: 1vh;
        background-color: var(--background-header-main);
    

    }
    #videocon { 
        display: flex;
        justify-content: center;
       
        
    }

   iframe { margin: 0;
    width: 100%;
    max-width: 511px; 
    padding: 20px; 
    z-index: 3;
    
     } 






     .s2h::before{
        position: relative;
        display: block;
        content: ''; 
        margin-bottom: 10px;
        width: 50%;
        height: 1vh;
        background-color: var(--background-header-main);
    
        }
         .s2h::after{
            position: relative;
           display: block;
            content: ''; 
            margin-top: 5px;;
            left:50%;
            width: 50%;
            height: 1vh;
            background-color: var(--background-header-main);
         }
    

.Gallery { 

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 10vw);
    grid-gap: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #e8e9eb;
    opacity: 95%;
    padding: 30px;
    overflow: hidden;

}



.gallery-img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
    list-style: none;

}

/* .gallery-img-1{

    background-color: #000900;
    width: 100%;
    height: 100%; 
    place-items: center;



 } */

/* .gallery-img-5::before {
    position: relative;
    display: block;
    content: ''; 
    top: -20px;
    left: 60px;
    background-color: var(--background-header-main);
    opacity: 50%;
    z-index: -1; 
    } */

.gallery-img-1 { 
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.gallery-img-1::after {
    position: relative;
    display: block;
    content: ''; 
    width: 325px;
    height: 400px;
    top: -20px;
    left: 150px;
    background: var(--background-gradient2);
    opacity: 35%;
    z-index: -2;
  
    
    }

.gallery-img:hover { 
    /* transform: translateY(-10px);
    transition: transform 500ms; */
    background-image: #000900;
    width: 100px;
    height: 100%; 
  
   
}

.gallery-img-2 { 
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    margin: auto; 
    
}

.gallery-img-2:hover{ 
    position: absolute;
    z-index: 2;
    display: none;
    width: 100px;
    padding: 5px;
    font-size: 1em;
    line-height: 1.4em;
    border-radius: 5px;
    background-color: #1e9ce0;
    color: white; 
    content: "Kewi that provides the greatest taste";
   

   
}




.gallery-img-3 { 
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 6;
}
.gallery-img-3::after {
    position: relative;
    display: block;
    content: ''; 
   min-width: 250px;
    min-height: 200px;
    top: 0px;
    left: 40px;
    background: var(--background-gradient2);
    opacity: 40%;
    z-index: -2;
   
    }


.gallery-img-4 { 
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}



.gallery-img-5 { 
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
}

.gallery-img-6 { 
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 8;
}

.gallery-img-6::after {
    position: relative;
    display: block;
    content: ''; 
    width: 250px;
    height: 100px;
    top: -20px;
    left: -20px;
    background: var(--background-gradient2);
    opacity: 20%;
    z-index: -2;
   
    }


.gallery-img-8 { 
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 6;
    grid-row-end: 8;
}


.s3h::before{
    position: relative;
    display: block;
    content: ''; 
    margin-bottom: 10px;
    width: 50%;
    height: 1vh;
    background-color: var(--background-header-main);

    }
     .s3h::after{
        position: relative;
       display: block;
        content: ''; 
        margin-top: 10px;;
        left:50%;
        width: 50%;
        height: 1vh;
        background-color: var(--background-header-main);
     }


 ul > li >img{ 
    max-width: 700px;
}

.social-icons { 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    font-size: 24px;
}

footer { margin-top: 20px;
padding: 0 1rem;
color:var(--text-color); 
background-color: var(--background-header-main);
opacity: 80%;
border-top: 3px solid black;
border-bottom: 3px solid black;
padding-top: 20px;

}

.Gap { 
    padding: 50px; 
}

footer>div { 
    text-align: center;

}

footer>div>a{
    color: var(--background-text-box);
    -webkit-text-stroke-width: .5px; 
    -webkit-text-stroke-color: black; 
}
