body {
    text-align: center;
    margin-top: 100px;
}

.info
{
    margin: 1rem auto; 
    width:75%;
    
    
}

.label 
{text-align: center;
    

}

#name, #email, #number
{ margin: 3px  auto;
    padding-right: 50%;
    padding-left:50%



}

.option, .radio{
    margin:10px; 
    width: 100%



}
.option{
    
}
.checkbox
{
    margin: 1rem;  
    font-weight: 100px;
    
}
	
#checkbox {
    margin-top: 10px;
    display: inline-block;


}


    

    


