body {
    background-color: white;
}

.Header { 
    border-bottom: 3px solid black;
    padding: 2%;
    text-align: center;
   margin: 0;
    min-width: 100%;
    max-width: 100%; 
    background-color: orange;
    position: fixed;
    z-index: 999; 
    top: 0; 
    left: 0; 
    
    
}

.navbar {  
    background-color: white; 
    display: flex;
    flex-direction: column; 
    max-width: 200%;
    position: fixed; 
    border-right: 3px black solid; 
    height: 100%;
    top: 50px; 
}



.FlexNav { 

 
    border-right: none;
    padding: 20%;
 
    background-color: white;
    text-align: center;
}

.FlexNav:hover {
    background-color: gray;
}


#main-doc { 
    background-color: aqua;
    top: 100px; 
    position: relative; 
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-left: 140px;
    margin-bottom: 110px; 
    flex-wrap: nowrap;
    top: 0; 
    
    



}