
*{scroll-behavior: smooth} 



body {
    background-color: rgba(179, 204, 219, 0.879);
    padding: 20px;
}

header {

    /* Change color and round edges */
    background-color: rgb(173, 194, 215);
    margin: 0 5px;
    padding: 10px;
    border: 2px black solid;
    border-radius: 20px;
    margin-bottom: -20px;


}

#Table {
    margin: 10px auto;

}

#tribute-info {
    background-color: rgb(239, 218, 169);
    padding: 15px 30px;
    border: 3px black solid;
    border-top: 5px solid black;
    border-radius: 20px;
    display: block;
    opacity: 75%;

}


#story {
    background-color: inherit black;

}

.quote {

    position: relative;
    top: 100px;
    right: 80px;
    background-color: rgb(161, 215, 216);
    border: 3px black solid;
    border-bottom: 4px solid;
    margin-right: auto;
    padding: 15px;
    border-radius: 20px;


    font-size: larger;



}

img {
    display: block;
    
}

#image {
    height: auto;
    padding-left: 30%;
    position: relative;
    text-align: center;
    max-width: 250px;

}

#img-caption {
    padding-left: 50%;
    font-size: 12px;
    text-align: center;
    position: relative;


}

.image2 img {
    

    min-width: 1000px;
    width: 1000px;
    max-width: 1500px;
    height: 50%;
    position: relative;
    top: 10px;
    right: 170px;
    
}

#Section-image2
{ background-color: rgb(188, 218, 218);
position: relative;





}
 #img-div {

    margin-left: 60px;


}


#link {

    position: relative;
    background-color: rgb(161, 215, 216);
    font-size: smaller;
    padding: 15px;
    margin-top: 20px;
    width: 100%;
    border: 3px black solid;
    border-radius: 20px;
    overflow: hidden;

}


fieldset {
    border: 2px solid black;
}

#Fact1 {
    background-color: rgb(223, 201, 150);
    border: 3px black solid;
    border-radius: 20px;
    border-bottom: 3px black solid;
}

#Fact2 {
    background-color: rgb(222, 183, 166);
    border: 3px black solid;
    border-radius: 20px;
    border-bottom: 3px black solid;
}

#Fact3 {
    background-color: rgb(217, 169, 174);
    border: 3px black solid;
    border-radius: 20px;
    border-bottom: 3px black solid;
}

#Fact4 {
    background-color: rgb(179, 146, 181);
    border: 3px black solid;
    border-radius: 20px;
    border-bottom: 3px black solid;
}

#Fact5 {
    background-color: rgb(176, 201, 152);
    border: 3px black solid;
    border-radius: 20px;
    border-bottom: 3px black solid;

}