
/* *{scroll-behavior: smooth}  */



body {
    background-color: rgba(179, 204, 219, 0.879);
    padding: 20px; 
}

header {

    /* Change color and round edges */
    background-color: rgb(239, 218, 169);
    text-align: center;
    border: 2px black solid;
    border-radius: 20px;
    margin-bottom: -10px;
    padding: 10px;;


}

#Table {
    margin: 10px auto;

}


#tribute-info {
    background-color: rgb(239, 218, 169);
    border: 3px black solid;
    border-top: 5px solid black;
    border-radius: 200px 20px 20px;
    z-index: 999; 
    text-align: center;
   

}

.bestfact { 
    


}
ul { 
    list-style-type: none;
    text-decoration-color: black;
  
    
}

a { 
    text-decoration: none;
}


#photo { 
    background-color: rgb(154, 186, 186);
    width: 100%;
    border-radius: 20px 20px 200px;
    border: 3px black solid;
    

}

.quote {

    display: flex;
    justify-content: left;
    vertical-align: left;
    background-color: rgba(179, 204, 219, 0.879);
    border: 3px black solid;
    border-bottom: 4px solid;
    padding: 15px;
    border-radius: 20px;
    font-size: larger;
    width: 50%;
}


#image {
    height: auto;
    max-width: 300px;
    position: relative; 
    right: 40px

}

#img-caption {
    font-size: 12px;
    display: block;
    flex-direction: column;

}

.image2 img {
    max-width: 100%;
    
}



 #img-div {

    display: block;
    flex-direction: column;
    margin-left: 60px;

}



fieldset {
    border: 2px solid black;
}

#Fact1 {
    background-color: rgb(192, 218, 218);
    border: 3px black solid;
    border-radius: 20px;
    border-bottom: 10px black solid;
    opacity: 75%;
}

#Fact2 {
    background-color: rgb(192, 218, 218);
    border: 3px black solid;
    border-radius: 20px;
    border-bottom: 10px black solid;
}

#Fact3 {
    background-color:rgb(192, 218, 218);
    border: 3px black solid;
    border-radius: 20px;
    border-bottom: 10px black solid;
}

#Fact4 {
    background-color: rgb(192, 218, 218);
    border: 3px black solid;
    border-radius: 20px;
    border-bottom: 10px black solid;
}

#Fact5 {
    background-color: rgb(192, 218, 218);
    border: 3px black solid;
    border-radius: 20px;
    border-bottom: 10px black solid;

}

#link { 
    position: relative;
    background-color: rgb(1239, 218, 169);
    font-size: smaller;
    padding: 15px;
    margin-top: 10px;
    width: 95%;
    border: 3px black solid;
    border-radius: 20px;
    overflow: hidden;

}